<ion-segment value="default">
  <ion-segment-button value="default">
    <ion-label>Home</ion-label>
  </ion-segment-button>
  <ion-segment-button value="countries">
    <ion-label>Countries(REST COUNTRIES)</ion-label>
  </ion-segment-button>
  <ion-segment-button value="users">
      <ion-label>Users(RANDOM USER)</ion-label>
  </ion-segment-button>
  <ion-segment-button value="activity">
    <ion-label>ACTIVITY(BORED API)</ion-label>
  </ion-segment-button>
  <ion-segment-button value="zip">
    <ion-label>ZIP INFO(Zippopotam)</ion-label>
  </ion-segment-button>
</ion-segment>